/* Convencion: Como seccionar nuestros estilos
    1. Posicionamiento (relative, absolute...)
    2. Modelo de Caja (width, height...)
    3. Tipografia (font-family, font-size...)
    4. Visuales (shadow, border radius...)
    5. Otros
*/
:root {
    --white: hsl(0, 0%, 100%)
    --ligh-gray: hsl(212, 45%, 89%)
    --grayish-blue: hsl(220, 15%, 55%)
    --dark-blue: hsl(218, 44%, 22%)
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;             /* Fuente Principal. Cuando necesitemos la otra fuente, la colocamos en casos puntuales */
}