:root {
    --white: #FFFFFF;
    --ligh-gray: #D6E2F0;
    --grayish-blue: #7B879D;
    --dark-blue: #1F3251;
    --primary-font: 'Outfit', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: var(--ligh-gray);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 360px;
    min-height: 56%;
    max-height: 540px;
    background: var(--white);
    border-radius: 25px;
    padding: 15px;
}
.container-figure {
max-width: 100%;
}
.container-figure-img {
    width: 100%;
    max-width: 422px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.container-h2 {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 2.2rem;
    margin: 0px 8px 20px 8px;
    color: var(--dark-blue);
}
.container-p {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    margin: 0px 20px 25px 20px;
    color: var(--grayish-blue);
}

